<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>GENTOD</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="content">
    <nav>
      <a href="index.html" class="{% if page == 'home' %}active{% endif %}">Home</a> |
      <a href="about.html" class="{% if page == 'about' %}active{% endif %}">About me</a> |
      <a href="contact.html" class="{% if page == 'contact' %}active{% endif %}">Contact me</a> |
      <a href="login.html" class="{% if page == 'login' %}active{% endif %}">Login</a>
    </nav>
    <header>
      <h3 class="title">GENTOD</h3>
    </header>
    <p>Username<br>Password<br>Message</p>
  </div>
  <div class="background"></div>
</body>
</html>
