body {
  font-family: sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin-top: 50px;
}

.title {
  font-family: 'Audiowide', sans-serif;
  font-size: 5rem;
  color: #bf0000;
  text-align: center;
  text-shadow: 4px 4px 5px #540707;
}

.subtitle {
  font-family: 'Audiowide', sans-serif;
  font-size: 2rem;
  color: #bf0000;
  text-align: center;
}

.information {
  position: relative;
  top: -60px;
  font-family: 'Audiowide', sans-serif;
  font-size: 0.7rem;
  color: #b5b3b3;
  text-align: center;
  text-shadow: 2px 2px 3px #3b0505;
}

.background {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;  /* toute la largeur et la hauteur de l'écran */
    background: linear-gradient(to bottom, grey, white);
    opacity: 0.8;
    z-index: -1;
}
